/* Estilos para o layout de consulta de produtos */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f9fb;
  padding: 20px;
  margin: 0;
  background-color: #fc9a22;
}

header {
  text-align: center;
  margin-bottom: 30px;
  background-color: #1d2d4f;
}

header .container-logo img {
  max-width: 200px;
  height: auto;

}

/* Caixa de pesquisa */
input[type="text"] {
  padding: 10px;
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  display: block;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  
}

/* Estilo dos botões de filtro */
.filtros {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.filtros button {
  padding: 8px 16px;
  background-color: #1d2d4f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 14px;
  white-space: nowrap;

}

.filtros button:hover {
  background-color: #1c2762;
  
}

/* Destaque para o botão "Todas" */
.filtros .btn-destaque {
  background-color: #3c8604;  /* Cor de destaque */
  color: white;
  font-weight: bold; 
       /* Negrito para chamar mais atenção */
}

 .filtros .btn-destaque:hover {
  background-color:#1d2d4f;  /* Cor de hover diferente para o botão destacado */
  
}



/* Produtos */
.produtos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Grid responsiva */
  gap: 20px;
  margin-top: 30px;
}

/* Produto */
.produto {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.produto:hover {
  transform: scale(1.05);
}

.produto img {
  width: 100px;
  height: auto;
  margin-bottom: 15px;
}

.produto h3 {
  margin: 10px 0;
  font-size: 18px;
  color: #1d2d4f;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.produto .preco {
  color: #f7931e;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.produto .status {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

.produto .status.alerta {
  color: red;
  font-weight: bold;
}

/* Responsividade para telas menores (exemplo para dispositivos móveis) */
@media screen and (max-width: 600px) {
  .filtros button {
    width: 30%;  /* Botões de filtro ocupando 30% da largura */
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  /* Ajuste a grid de produtos para garantir que eles fiquem lado a lado em telas pequenas */
  .produtos {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas pequenas */
  }
}
